# Movie Data Set
### P1. Data wrangling

In [64]:
import pandas as pd
import matplotlib.pyplot as plt 
from datetime import datetime
import numpy as np
from ast import literal_eval

In [2]:
movies = pd.read_csv('C:/Users/sathw/Downloads/3405_6663_bundle_archive/movies_metadata.csv', index_col = 'title', low_memory = False, nrows = 46000)
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,video,vote_average,vote_count
title,,,,,,,,,,,,,,,,,,,,,
Toy Story,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_3166_1': 'US', 'name': 'United States o...",10/30/1995,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,False,7.7,5415.0
Jumanji,FALSE,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",12/15/1995,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,False,6.9,2413.0
Grumpier Old Men,FALSE,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/1995,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,False,6.5,92.0
Waiting to Exhale,FALSE,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,"[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/1995,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,False,6.1,34.0
Father of the Bride Part II,FALSE,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/10/1995,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,False,5.7,173.0

In [3]:
movies.shape

(45466, 23)

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45466 entries, Toy Story to Queerama
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  video                  45460 non-null  object
 21  vote_average           45460 non-null  float64
 22  vote_count             45460 non-null  float64
dtypes: float64(4), object(19)
memory usage: 8.3+ MB

In [5]:
movies.index

Index([                  'Toy Story',                     'Jumanji',
                  'Grumpier Old Men',           'Waiting to Exhale',
       'Father of the Bride Part II',                        'Heat',
                           'Sabrina',                'Tom and Huck',
                      'Sudden Death',                   'GoldenEye',
       ...
                  'House of Horrors',   'Shadow of the Blair Witch',
               'The Burkittsville 7',             'Caged Heat 3000',
                        'Robin Hood',                      'Subdue',
               'Century of Birthing',                    'Betrayal',
                  'Satan Triumphant',                    'Queerama'],
      dtype='object', name='title', length=45466)

In [6]:
movies[movies.original_title == 'Toy Story'].transpose()

title                                                          Toy Story
adult                                                              FALSE
belongs_to_collection  {'id': 10194, 'name': 'Toy Story Collection', ...
budget                                                          30000000
genres                 [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
homepage                            http://toystory.disney.com/toy-story
id                                                                   862
imdb_id                                                        tt0114709
original_language                                                     en
original_title                                                 Toy Story
overview               Led by Woody, Andy's toys live happily in his ...
popularity                                                     21.946943
poster_path                             /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
production_companies      [{'name': 'Pixar Animation Studios', 'id': 3}]
production_countries   [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                  10/30/1995
revenue                                                      3.73554e+08
runtime                                                               81
spoken_languages                [{'iso_639_1': 'en', 'name': 'English'}]
status                                                          Released
tagline                                                              NaN
video                                                              False
vote_average                                                         7.7
vote_count                                                          5415

In [65]:
#copied code <- learned method but want to see if I can turn this into function
movies['genres'] = movies['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [66]:
missing = pd.concat([movies.isnull().sum(), 100 * movies.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='%', ascending = False)

                       count          %
belongs_to_collection  40972  90.115691
homepage               37684  82.883913
tagline                25054  55.104914
overview                 954   2.098271
poster_path              386   0.848986
runtime                  263   0.578454
release_date              90   0.197950
status                    87   0.191352
imdb_id                   17   0.037391
original_language         11   0.024194
vote_average               6   0.013197
video                      6   0.013197
spoken_languages           6   0.013197
revenue                    6   0.013197
vote_count                 6   0.013197
popularity                 5   0.010997
production_countries       3   0.006598
production_companies       3   0.006598
original_title             0   0.000000
id                         0   0.000000
genres                     0   0.000000
budget                     0   0.000000
adult                      0   0.000000

In [67]:
movies['original_title'].value_counts().head(15)

Hamlet                           8
Alice in Wonderland              8
Cinderella                       7
Les Misérables                   7
The Three Musketeers             7
Macbeth                          7
A Christmas Carol                7
Frankenstein                     6
King Lear                        6
Blackout                         6
The Hound of the Baskervilles    6
Treasure Island                  6
Jane Eyre                        6
Heidi                            6
Wuthering Heights                6
Name: original_title, dtype: int64

In [68]:
movies[movies['original_title'] == 'Macbeth'].transpose()

title,Macbeth,Macbeth,Macbeth,Macbeth,Macbeth,A Performance of Macbeth,Macbeth
adult,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
belongs_to_collection,NaN,NaN,NaN,NaN,NaN,NaN,NaN
budget,0,0,0,0,15000000,0,0
genres,[Drama],[Drama],[Thriller],"[Thriller, Drama, Action]","[History, Drama, War]","[Drama, Foreign]",[Drama]
homepage,NaN,NaN,NaN,NaN,http://www.macbeth-movie.com/,NaN,NaN
id,27883,115427,119844,13775,225728,41149,133448
imdb_id,tt0040558,tt0292081,tt0084284,tt0434541,tt2884018,tt0079499,tt1570337
original_language,en,hu,en,en,en,en,en
original_title,Macbeth,Macbeth,Macbeth,Macbeth,Macbeth,Macbeth,Macbeth
overview,Orson Welles' unique take on Shakespeare's cla...,A Hungarian TV version of the play shot in jus...,Macbeth and his wife murder Duncan in order to...,"Macbeth, loyal to his crime boss, Duncan, is t...",Feature film adaptation of Shakespeare's Scott...,"Shakespeare's classic tragedy of ambition, wit...",Part of the PBS Great Performance Series. Reno...
popularity,1.663767,0.017296,0.328289,1.833699,12.493466,0.398025,1.159167
poster_path,/dBGn1Mj1IcmfqnykjnQDvDe0B9C.jpg,/MXwwQjLWEfpPiY33XUqIRsOKk.jpg,/zsKAHJ5J4sHY8P2K9HncGuXhNVI.jpg,/fWoQSPnlycOiUmbJdcpdTLtATum.jpg,/417tcPgyz8oatgp1WE0SZZ4Odgl.jpg,/agLf7tTuTPW1RGf4J2btTjkaxLw.jpg,/8nFuFOHZTYVldpFFHNNMnM9234X.jpg
production_companies,"[{'name': 'Republic Pictures', 'id': 1432}]",[],[],[],"[{'name': 'Studio Canal', 'id': 5870}, {'name'...","[{'name': 'Royal Shakespeare Company', 'id': 5...","[{'name': 'PBS', 'id': 5826}, {'name': 'BBC', ..."
production_countries,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'HU', 'name': 'Hungary'}]",[],"[{'iso_3166_1': 'AU', 'name': 'Australia'}]","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]"
release_date,1948-10-01 00:00:00,1982-01-01 00:00:00,1983-11-05 00:00:00,2006-09-21 00:00:00,2015-08-16 00:00:00,1979-02-02 00:00:00,2010-10-06 00:00:00
revenue,0,0,0,0,1.26017e+07,0,0
runtime,107,72,147,109,113,145,160
spoken_languages,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'hu', 'name': 'Magyar'}]",[],"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]"
status,Released,Released,Released,Released,Released,Released,Released
tagline,Entertainment Greatness . . . That Only Motion...,NaN,NaN,Something wicked this way comes.,All hail Macbeth that shall be king,NaN,NaN
video,False,False,False,False,False,False,False
vote_average,6.7,10,5.8,3.9,6.4,5,6.9
vote_count,21,1,2,11,497,2,9

In [11]:
(movies['original_title'] + ', ' + movies['release_date']).value_counts()

Blackout, 12/26/2008                         3
The Phantom of the Opera, 3/18/1990          2
Camille Claudel 1915, 3/13/2013              2
Turist, 8/15/2014                            2
Black Gold, 12/21/2011                       2
                                            ..
Death Sentence, 10/2/1974                    1
The Great Dictator, 10/15/1940               1
Pride and Prejudice and Zombies, 2/4/2016    1
Abouna, 11/22/2002                           1
Room for One More, 1/10/1952                 1
Length: 45349, dtype: int64

In [12]:
movies[movies['original_title'] == 'Blackout'].transpose()

title,Blackout,Blackout,Blackout,Blackout,Blackout,Blackout
adult,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
belongs_to_collection,NaN,NaN,NaN,NaN,NaN,NaN
budget,0,0,0,0,0,0
genres,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...","[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...","[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...","[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...","[{'id': 99, 'name': 'Documentary'}]"
homepage,NaN,NaN,NaN,NaN,NaN,http://www.pbs.org/wgbh/americanexperience/fil...
id,141971,141971,141971,100063,226630,416951
imdb_id,tt1180333,tt1180333,tt1180333,tt0077241,tt0088816,tt4284046
original_language,fi,fi,fi,en,en,en
original_title,Blackout,Blackout,Blackout,Blackout,Blackout,Blackout
overview,Recovering from a nail gun shot to the head an...,Recovering from a nail gun shot to the head an...,Recovering from a nail gun shot to the head an...,A black comedy of violent criminals who terror...,A police officer suspects that a local husband...,"First responders, journalists, shop owners, th..."
popularity,0.411949,0.411949,0.411949,0.314595,1.018543,0.423677
poster_path,/8VSZ9coCzxOCW2wE2Qene1H1fKO.jpg,/8VSZ9coCzxOCW2wE2Qene1H1fKO.jpg,/8VSZ9coCzxOCW2wE2Qene1H1fKO.jpg,/ddyDGQBLbG1LjK01dz9Nb1NQstf.jpg,/cGL5nCdUdsQraT6qvzQIWw7wkk2.jpg,/jH13IMZZlyk0f7G6eQLycn0JLgM.jpg
production_companies,"[{'name': 'Filmiteollisuus Fine', 'id': 5166}]","[{'name': 'Filmiteollisuus Fine', 'id': 5166}]","[{'name': 'Filmiteollisuus Fine', 'id': 5166}]",[],[],[]
production_countries,"[{'iso_3166_1': 'FI', 'name': 'Finland'}]","[{'iso_3166_1': 'FI', 'name': 'Finland'}]","[{'iso_3166_1': 'FI', 'name': 'Finland'}]","[{'iso_3166_1': 'US', 'name': 'United States o...",[],[]
release_date,12/26/2008,12/26/2008,12/26/2008,8/25/1978,7/28/1985,7/14/2015
revenue,0,0,0,0,0,0
runtime,108,108,108,92,100,53
spoken_languages,"[{'iso_639_1': 'fi', 'name': 'suomi'}]","[{'iso_639_1': 'fi', 'name': 'suomi'}]","[{'iso_639_1': 'fi', 'name': 'suomi'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]"
status,Released,Released,Released,Released,Released,Released
tagline,Which one is the first to return - memory or t...,Which one is the first to return - memory or t...,Which one is the first to return - memory or t...,The night the power failed.... and the shock b...,His obsession would become her nightmare.,NaN
video,False,False,False,False,False,False
vote_average,6.7,6.7,6.7,5,4.4,6.7
vote_count,3,3,3,1,5,3

In [13]:
movies[['original_title', 'release_date']].nunique()

original_title    43371
release_date      17336
dtype: int64

In [60]:
#checking to see how many revenue values are 0
count_revenue_zero = sum(map(lambda x : x == 0, movies['revenue']))
print(count_revenue_zero)

38052

In [61]:
#for some odd reason this is giving the wrong count, there exists elements in the df that have 0 under budget
count_budget_zero = sum(map(lambda x : x == 0, movies['budget']))
print(count_budget_zero)

0

In [23]:
movies['release_date'] = pd.to_datetime(movies['release_date'], errors = 'coerce')
oldest_movie_bydate = movies.release_date.min()
most_recent_bydate = movies.release_date.max()

In [26]:
print(oldest_movie_bydate)
print(most_recent_bydate)

1874-12-09 00:00:00
2020-12-16 00:00:00

In [29]:
movies[movies['release_date'] == oldest_movie_bydate]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,video,vote_average,vote_count
title,,,,,,,,,,,,,,,,,,,,,
Passage of Venus,FALSE,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,315946,tt3155794,xx,Passage de Venus,Photo sequence of the rare transit of Venus ov...,...,"[{'iso_3166_1': 'FR', 'name': 'France'}]",1874-12-09,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,False,6.0,19.0

In [30]:
movies[movies['release_date'] == most_recent_bydate]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,video,vote_average,vote_count
title,,,,,,,,,,,,,,,,,,,,,
Avatar 2,FALSE,"{'id': 87096, 'name': 'Avatar Collection', 'po...",0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.avatarmovie.com/,76600,tt1630029,en,Avatar 2,A sequel to Avatar (2009).,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2020-12-16,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",In Production,NaN,False,0.0,58.0

In [47]:
movies[movies['release_date'] > '2018-01-01 00:00:00']

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,video,vote_average,vote_count
title,,,,,,,,,,,,,,,,,,,,,
Avatar 2,FALSE,"{'id': 87096, 'name': 'Avatar Collection', 'po...",0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.avatarmovie.com/,76600,tt1630029,en,Avatar 2,A sequel to Avatar (2009).,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2020-12-16,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",In Production,NaN,False,0.0,58.0
Bad Boys for Life,FALSE,"{'id': 14890, 'name': 'Bad Boys Collection', '...",0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,38700,tt1502397,en,Bad Boys for Life,The continuing adventures of Miami detectives ...,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2018-11-07,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Planned,NaN,False,0.0,12.0
Iron Sky: The Coming Race,FALSE,"{'id': 312977, 'name': 'Iron Sky Collection', ...",18000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",http://www.ironsky.net/,302349,tt3038708,en,Iron Sky: The Coming Race,"Twenty years after the events of Iron Sky, the...",...,"[{'iso_3166_1': 'BE', 'name': 'Belgium'}, {'is...",2018-03-01,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Post Production,NaN,False,0.0,0.0
Mary Shelley,FALSE,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,332283,tt3906082,en,Mary Shelley,The love affair between poet Percy Shelley and...,...,"[{'iso_3166_1': 'IE', 'name': 'Ireland'}, {'is...",2018-04-25,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,NaN,False,0.0,1.0
The Other Side of the Wind,FALSE,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,299782,tt0069049,en,The Other Side of the Wind,"Orson Welles' unfinished masterpiece, restored...",...,"[{'iso_3166_1': 'IR', 'name': 'Iran'}, {'iso_3...",2018-12-31,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,NaN,False,0.0,1.0
Mobile Homes,FALSE,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,412059,tt5613402,en,Mobile Homes,"In forgotten towns along the American border, ...",...,"[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",2018-04-04,0.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,NaN,False,0.0,1.0

In [62]:
movies['genres'].dict_keys()

AttributeError: 'Series' object has no attribute 'dict_keys'

In [8]:
diff_look = pd.melt(movies, id_vars = ['id', 'original_title', 'genres', 'popularity', 'vote_average', 'vote_count', 'release_date', 'budget', 'revenue', 'runtime'])

In [9]:
diff_look.head()

,id,original_title,genres,popularity,vote_average,vote_count,release_date,budget,revenue,runtime,variable,value
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",21.946943,7.7,5415.0,10/30/1995,30000000,373554033.0,81.0,adult,FALSE
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",17.015539,6.9,2413.0,12/15/1995,65000000,262797249.0,104.0,adult,FALSE
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",11.7129,6.5,92.0,12/22/1995,0,0.0,101.0,adult,FALSE
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",3.859495,6.1,34.0,12/22/1995,16000000,81452156.0,127.0,adult,FALSE
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",8.387519,5.7,173.0,2/10/1995,0,76578911.0,106.0,adult,FALSE

In [10]:
diff_look = diff_look.rename(columns = {'original_title': 'title'})

In [11]:
diff_look.head()

,id,title,genres,popularity,vote_average,vote_count,release_date,budget,revenue,runtime,variable,value
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",21.946943,7.7,5415.0,10/30/1995,30000000,373554033.0,81.0,adult,FALSE
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",17.015539,6.9,2413.0,12/15/1995,65000000,262797249.0,104.0,adult,FALSE
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",11.7129,6.5,92.0,12/22/1995,0,0.0,101.0,adult,FALSE
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",3.859495,6.1,34.0,12/22/1995,16000000,81452156.0,127.0,adult,FALSE
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",8.387519,5.7,173.0,2/10/1995,0,76578911.0,106.0,adult,FALSE

In [12]:
diff_look.dtypes

id               object
title            object
genres           object
popularity       object
vote_average    float64
vote_count      float64
release_date     object
budget           object
revenue         float64
runtime         float64
variable         object
value            object
dtype: object

In [13]:
diff_look['id'] = pd.to_numeric(diff_look['id'], errors = 'coerce')

In [14]:
diff_look.dtypes

id              float64
title            object
genres           object
popularity       object
vote_average    float64
vote_count      float64
release_date     object
budget           object
revenue         float64
runtime         float64
variable         object
value            object
dtype: object

In [15]:
diff_look.isnull().sum()

id                  39
title                0
genres               0
popularity          65
vote_average        78
vote_count          78
release_date      1131
budget               0
revenue             78
runtime           3419
variable             0
value           105183
dtype: int64

In [16]:
diff_look[diff_look['id'].isna()]

,id,title,genres,popularity,vote_average,vote_count,release_date,budget,revenue,runtime,variable,value
19730,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Carousel Productions', 'id': 11176}...",NaN,NaN,NaN,1,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,NaN,NaN,adult,- Written by Ørnås
29503,NaN,"[{'iso_639_1': 'ja', 'name': '日本語'}]","[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...",NaN,NaN,NaN,12,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,NaN,NaN,adult,Rune Balot goes to a casino connected to the ...
35587,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Odyssey Media', 'id': 17161}, {'nam...",Beware Of Frost Bites,NaN,NaN,22,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,NaN,NaN,adult,Avalanche Sharks tells the story of a bikini ...
65196,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Carousel Productions', 'id': 11176}...",NaN,NaN,NaN,1,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,NaN,NaN,belongs_to_collection,0.065736
74969,NaN,"[{'iso_639_1': 'ja', 'name': '日本語'}]","[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...",NaN,NaN,NaN,12,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,NaN,NaN,belongs_to_collection,1.931659
81053,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Odyssey Media', 'id': 17161}, {'nam...",Beware Of Frost Bites,NaN,NaN,22,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,NaN,NaN,belongs_to_collection,2.185485
110662,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Carousel Productions', 'id': 11176}...",NaN,NaN,NaN,1,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,NaN,NaN,homepage,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso..."
120435,NaN,"[{'iso_639_1': 'ja', 'name': '日本語'}]","[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...",NaN,NaN,NaN,12,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,NaN,NaN,homepage,"[{'iso_3166_1': 'US', 'name': 'United States o..."
126519,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Odyssey Media', 'id': 17161}, {'nam...",Beware Of Frost Bites,NaN,NaN,22,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,NaN,NaN,homepage,"[{'iso_3166_1': 'CA', 'name': 'Canada'}]"
156128,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Carousel Productions', 'id': 11176}...",NaN,NaN,NaN,1,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,NaN,NaN,imdb_id,0
165901,NaN,"[{'iso_639_1': 'ja', 'name': '日本語'}]","[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...",NaN,NaN,NaN,12,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,NaN,NaN,imdb_id,0
171985,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Odyssey Media', 'id': 17161}, {'nam...",Beware Of Frost Bites,NaN,NaN,22,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,NaN,NaN,imdb_id,0
201594,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Carousel Productions', 'id': 11176}...",NaN,NaN,NaN,1,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,NaN,NaN,original_language,104
211367,NaN,"[{'iso_639_1': 'ja', 'name': '日本語'}]","[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...",NaN,NaN,NaN,12,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,NaN,NaN,original_language,68
217451,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Odyssey Media', 'id': 17161}, {'nam...",Beware Of Frost Bites,NaN,NaN,22,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,NaN,NaN,original_language,82
247060,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Carousel Productions', 'id': 11176}...",NaN,NaN,NaN,1,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,NaN,NaN,overview,Released
256833,NaN,"[{'iso_639_1': 'ja', 'name': '日本語'}]","[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...",NaN,NaN,NaN,12,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,NaN,NaN,overview,Released
262917,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Odyssey Media', 'id': 17161}, {'nam...",Beware Of Frost Bites,NaN,NaN,22,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,NaN,NaN,overview,Released
292526,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Carousel Productions', 'id': 11176}...",NaN,NaN,NaN,1,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,NaN,NaN,poster_path,Midnight Man
302299,NaN,"[{'iso_639_1': 'ja', 'name': '日本語'}]","[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...",NaN,NaN,NaN,12,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,NaN,NaN,poster_path,Mardock Scramble: The Third Exhaust
308383,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Odyssey Media', 'id': 17161}, {'nam...",Beware Of Frost Bites,NaN,NaN,22,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,NaN,NaN,poster_path,Avalanche Sharks
337992,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Carousel Productions', 'id': 11176}...",NaN,NaN,NaN,1,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,NaN,NaN,production_companies,FALSE
347765,NaN,"[{'iso_639_1': 'ja', 'name': '日本語'}]","[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...",NaN,NaN,NaN,12,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,NaN,NaN,production_companies,FALSE
353849,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Odyssey Media', 'id': 17161}, {'nam...",Beware Of Frost Bites,NaN,NaN,22,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,NaN,NaN,production_companies,FALSE
383458,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Carousel Productions', 'id': 11176}...",NaN,NaN,NaN,1,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,NaN,NaN,production_countries,6
393231,NaN,"[{'iso_639_1': 'ja', 'name': '日本語'}]","[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...",NaN,NaN,NaN,12,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,NaN,NaN,production_countries,7
399315,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Odyssey Media', 'id': 17161}, {'nam...",Beware Of Frost Bites,NaN,NaN,22,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,NaN,NaN,production_countries,4.3
428924,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Carousel Productions', 'id': 11176}...",NaN,NaN,NaN,1,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,NaN,NaN,spoken_languages,NaN
438697,NaN,"[{'iso_639_1': 'ja', 'name': '日本語'}]","[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...",NaN,NaN,NaN,12,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,NaN,NaN,spoken_languages,NaN
444781,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Odyssey Media', 'id': 17161}, {'nam...",Beware Of Frost Bites,NaN,NaN,22,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,NaN,NaN,spoken_languages,NaN
474390,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Carousel Productions', 'id': 11176}...",NaN,NaN,NaN,1,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,NaN,NaN,status,NaN
484163,NaN,"[{'iso_639_1': 'ja', 'name': '日本語'}]","[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...",NaN,NaN,NaN,12,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,NaN,NaN,status,NaN
490247,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Odyssey Media', 'id': 17161}, {'nam...",Beware Of Frost Bites,NaN,NaN,22,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,NaN,NaN,status,NaN
519856,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Carousel Productions', 'id': 11176}...",NaN,NaN,NaN,1,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,NaN,NaN,tagline,NaN
529629,NaN,"[{'iso_639_1': 'ja', 'name': '日本語'}]","[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...",NaN,NaN,NaN,12,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,NaN,NaN,tagline,NaN
535713,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Odyssey Media', 'id': 17161}, {'nam...",Beware Of Frost Bites,NaN,NaN,22,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,NaN,NaN,tagline,NaN
565322,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Carousel Productions', 'id': 11176}...",NaN,NaN,NaN,1,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,NaN,NaN,video,NaN
575095,NaN,"[{'iso_639_1': 'ja', 'name': '日本語'}]","[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...",NaN,NaN,NaN,12,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,NaN,NaN,video,NaN
581179,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'name': 'Odyssey Media', 'id': 17161}, {'nam...",Beware Of Frost Bites,NaN,NaN,22,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,NaN,NaN,video,NaN

In [17]:
diff_look_clean = diff_look[diff_look['vote_average'].notna()]

In [18]:
diff_look_clean.head()

,id,title,genres,popularity,vote_average,vote_count,release_date,budget,revenue,runtime,variable,value
0,862.0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",21.946943,7.7,5415.0,10/30/1995,30000000,373554033.0,81.0,adult,FALSE
1,8844.0,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",17.015539,6.9,2413.0,12/15/1995,65000000,262797249.0,104.0,adult,FALSE
2,15602.0,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",11.7129,6.5,92.0,12/22/1995,0,0.0,101.0,adult,FALSE
3,31357.0,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",3.859495,6.1,34.0,12/22/1995,16000000,81452156.0,127.0,adult,FALSE
4,11862.0,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",8.387519,5.7,173.0,2/10/1995,0,76578911.0,106.0,adult,FALSE

In [19]:
diff_look_clean.count()

id              590980
title           590980
genres          590980
popularity      590980
vote_average    590980
vote_count      590980
release_date    589888
budget          590980
revenue         590980
runtime         587639
variable        590980
value           485834
dtype: int64

In [20]:
ratings = pd.read_csv('C:/Users/sathw/Downloads/3405_6663_bundle_archive/ratings.csv', nrows = 200000, low_memory = False)
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [21]:
ratings = ratings.rename(columns = {'movieId': 'id'})

In [30]:
ratings.id = ratings.id.astype(float)

In [31]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     200000 non-null  int64
 1   id         200000 non-null  float64
 2   rating     200000 non-null  float64
 3   timestamp  200000 non-null  int64
dtypes: float64(2), int64(2)
memory usage: 6.1 MB

In [24]:
combined_df = pd.merge(diff_look_clean,ratings, on = 'id')

In [25]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1130532 entries, 0 to 1130531
Data columns (total 15 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   id            1130532 non-null  float64
 1   title         1130532 non-null  object
 2   genres        1130532 non-null  object
 3   popularity    1130532 non-null  object
 4   vote_average  1130532 non-null  float64
 5   vote_count    1130532 non-null  float64
 6   release_date  1129817 non-null  object
 7   budget        1130532 non-null  object
 8   revenue       1130532 non-null  float64
 9   runtime       1130441 non-null  float64
 10  variable      1130532 non-null  object
 11  value         970404 non-null   object
 12  userId        1130532 non-null  int64
 13  rating        1130532 non-null  float64
 14  timestamp     1130532 non-null  int64
dtypes: float64(6), int64(2), object(7)
memory usage: 138.0+ MB

movie['post_proc'] = movie[genres'].apply(clean, axis=1)

In [32]:
combined_df.head(10)

,id,title,genres,popularity,vote_average,vote_count,release_date,budget,revenue,runtime,variable,value,userId,rating,timestamp
0,862.0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",21.946943,7.7,5415.0,10/30/1995,30000000,373554033.0,81.0,adult,FALSE,1923,3.0,858335006
1,862.0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",21.946943,7.7,5415.0,10/30/1995,30000000,373554033.0,81.0,belongs_to_collection,"{'id': 10194, 'name': 'Toy Story Collection', ...",1923,3.0,858335006
2,862.0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",21.946943,7.7,5415.0,10/30/1995,30000000,373554033.0,81.0,homepage,http://toystory.disney.com/toy-story,1923,3.0,858335006
3,862.0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",21.946943,7.7,5415.0,10/30/1995,30000000,373554033.0,81.0,imdb_id,tt0114709,1923,3.0,858335006
4,862.0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",21.946943,7.7,5415.0,10/30/1995,30000000,373554033.0,81.0,original_language,en,1923,3.0,858335006
5,862.0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",21.946943,7.7,5415.0,10/30/1995,30000000,373554033.0,81.0,overview,"Led by Woody, Andy's toys live happily in his ...",1923,3.0,858335006
6,862.0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",21.946943,7.7,5415.0,10/30/1995,30000000,373554033.0,81.0,poster_path,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,1923,3.0,858335006
7,862.0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",21.946943,7.7,5415.0,10/30/1995,30000000,373554033.0,81.0,production_companies,"[{'name': 'Pixar Animation Studios', 'id': 3}]",1923,3.0,858335006
8,862.0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",21.946943,7.7,5415.0,10/30/1995,30000000,373554033.0,81.0,production_countries,"[{'iso_3166_1': 'US', 'name': 'United States o...",1923,3.0,858335006
9,862.0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",21.946943,7.7,5415.0,10/30/1995,30000000,373554033.0,81.0,spoken_languages,"[{'iso_639_1': 'en', 'name': 'English'}]",1923,3.0,858335006

In [27]:
combined_df.groupby(by ='title')[['vote_average', 'vote_count']].max().sort_values(by = 'vote_count', ascending = False)

                                                   vote_average  vote_count
title
The Dark Knight                                             8.3     12269.0
Fight Club                                                  8.3      9678.0
The Matrix                                                  7.9      9079.0
Iron Man                                                    7.4      8951.0
The Lord of the Rings: The Fellowship of the Ring           8.0      8892.0
...                                                         ...         ...
Grand Isle                                                  0.0         0.0
Après l'amour                                               0.0         0.0
Fuel                                                        0.0         0.0
Sundome                                                     0.0         0.0
Guter Junge                                                 0.0         0.0

[3095 rows x 2 columns]

In [28]:
#basically a vote count <- checks for duplicates
combined_df['title'].value_counts()

The Million Dollar Hotel              9347
Terminator 3: Rise of the Machines    8944
Солярис                               8515
The 39 Steps                          7696
Monsoon Wedding                       7683
                                      ...
The Creature Walks Among Us             13
ラブ&ポップ                                  13
La frusta e il corpo                    13
Viridiana                               13
The Woman in Red                        13
Name: title, Length: 3095, dtype: int64

In [29]:
combined_df[combined_df['title'].str.contains('Jaws')]

,id,title,genres,popularity,vote_average,vote_count,release_date,budget,revenue,runtime,variable,value,userId,rating,timestamp
401388,580.0,Jaws: The Revenge,"[{'id': 12, 'name': 'Adventure'}, {'id': 53, '...",9.327986,3.5,227.0,7/17/1987,23000000,51881013.0,89.0,adult,FALSE,533,3.0,974649717
401389,580.0,Jaws: The Revenge,"[{'id': 12, 'name': 'Adventure'}, {'id': 53, '...",9.327986,3.5,227.0,7/17/1987,23000000,51881013.0,89.0,belongs_to_collection,"{'id': 2366, 'name': 'The Jaws Collection', 'p...",533,3.0,974649717
401390,580.0,Jaws: The Revenge,"[{'id': 12, 'name': 'Adventure'}, {'id': 53, '...",9.327986,3.5,227.0,7/17/1987,23000000,51881013.0,89.0,homepage,NaN,533,3.0,974649717
401391,580.0,Jaws: The Revenge,"[{'id': 12, 'name': 'Adventure'}, {'id': 53, '...",9.327986,3.5,227.0,7/17/1987,23000000,51881013.0,89.0,imdb_id,tt0093300,533,3.0,974649717
401392,580.0,Jaws: The Revenge,"[{'id': 12, 'name': 'Adventure'}, {'id': 53, '...",9.327986,3.5,227.0,7/17/1987,23000000,51881013.0,89.0,original_language,en,533,3.0,974649717
401393,580.0,Jaws: The Revenge,"[{'id': 12, 'name': 'Adventure'}, {'id': 53, '...",9.327986,3.5,227.0,7/17/1987,23000000,51881013.0,89.0,overview,"After another deadly shark attack, Ellen Brody...",533,3.0,974649717
401394,580.0,Jaws: The Revenge,"[{'id': 12, 'name': 'Adventure'}, {'id': 53, '...",9.327986,3.5,227.0,7/17/1987,23000000,51881013.0,89.0,poster_path,/ssDizT0itTUaAdHoVrxRElo7Q1A.jpg,533,3.0,974649717
401395,580.0,Jaws: The Revenge,"[{'id': 12, 'name': 'Adventure'}, {'id': 53, '...",9.327986,3.5,227.0,7/17/1987,23000000,51881013.0,89.0,production_companies,"[{'name': 'Universal Pictures', 'id': 33}]",533,3.0,974649717
401396,580.0,Jaws: The Revenge,"[{'id': 12, 'name': 'Adventure'}, {'id': 53, '...",9.327986,3.5,227.0,7/17/1987,23000000,51881013.0,89.0,production_countries,"[{'iso_3166_1': 'US', 'name': 'United States o...",533,3.0,974649717
401397,580.0,Jaws: The Revenge,"[{'id': 12, 'name': 'Adventure'}, {'id': 53, '...",9.327986,3.5,227.0,7/17/1987,23000000,51881013.0,89.0,spoken_languages,"[{'iso_639_1': 'en', 'name': 'English'}]",533,3.0,974649717
401398,580.0,Jaws: The Revenge,"[{'id': 12, 'name': 'Adventure'}, {'id': 53, '...",9.327986,3.5,227.0,7/17/1987,23000000,51881013.0,89.0,status,Released,533,3.0,974649717
401399,580.0,Jaws: The Revenge,"[{'id': 12, 'name': 'Adventure'}, {'id': 53, '...",9.327986,3.5,227.0,7/17/1987,23000000,51881013.0,89.0,tagline,"This time, it’s personal.",533,3.0,974649717
401400,580.0,Jaws: The Revenge,"[{'id': 12, 'name': 'Adventure'}, {'id': 53, '...",9.327986,3.5,227.0,7/17/1987,23000000,51881013.0,89.0,video,False,533,3.0,974649717